 <footer class="row row-grey slideInUp">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center social-links">
        <a class="animated" href="https://www.facebook.com/profile.php?id=100004495579131" target="_blank" ><span><i class="fa fa-facebook"></i></span></a>
        <a class="animated" href="skype:Maksym Malyi?add" target="_blank" ><span><i class="fa fa-skype"></i></span></a>

    </div>
       <div class="col-xs-1 col-sm-2 "></div>
    <div class="col-xs-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
        <span>All rights reserved <i class="fa fa-copyright"></i> by Malyi M.G </span>
        <br class="hidden-lg hidden-md hidden-xl ">
        <span>Developeted by:</span>
      <br class="hidden-lg hidden-md hidden-xl ">
        <span>Malyi M.G</span>
    </div>

    </footer>