<section class="row row-header">
    <div class="container">
        <header  class="row" >
            <div class="hidden navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Project name</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="top">
                <div class=" col-xs-6 col-sm-6 col-md-5 col-lg-5 col-xl-5 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
                    <ul class="head-text-children list-group section-title head-title">
                        <li class="list-group-item">Hello,</li>
                        <li class="list-group-item">Welcome!</li>
                        <li class="list-group-item">I`m, <b>M.G.</b></li>
                        <li class="list-group-item">
                            I`m  front-end,<span><i class="js-icon"></i> JavaScript developer.</span>
                        </li>
                    </ul>
                    <div class="head-text-children btn-group-flex col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" align="center">
                        <a href="#" class="btn btn-animate btn-more ">Now More</a>
                    </div>
                </div>
                <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
                       <div class="round-header-img ">
                           <div class="big-round-div">
                               <img src="<%= data.headerImg %>" class="img-responsive" alt="Web developer">
                           </div>
                           <div class="small-round-div azure-text"> M.G.</div>
                       </div>
                </div>
                
            </div>
        </header>
    </div>
</section>